<%- include('partials/header') %>

<main>
        <form action="/add" class="form" method="post">
            <input class="form_input" type="text" name="todofield" id="todofield" placeholder="Ajouter un élément à la to-do">
        </form>
        <div class="todolist">
        <% if(locals.session.todolist.length) { %>
            <% for (const index in locals.session.todolist) { %>
                <li><%= locals.session.todolist[index] %><a class="link" href="/remove/<%= index %>">&#10060;</a></li>
            <% } %>
        <% } %>
        </div>

</main>

<%- include('partials/footer') %>